@model PaymentGateway21052021.Areas.EgsOperations.Models.HoldAgentRequestViewModel

@{
    ViewData["Title"] = "Acknowledged Agent Requests";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="card-body">

    <div class="card">
        <div class="card-body">
            <div class="col-12 mb-5">

                <div class="float-left">
                    @if (ViewBag.Message != null)
                    {
                        <span class="alert-success">@ViewBag.Message</span>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <span class="alert-success">@ViewBag.ErrorMessage</span>
                    }
                </div>
            </div>



            <div class="col-12 mb-5">
                @*<h4> Request List</h4>*@
                <div class="container-fluid disable-text-selection">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-2">

                                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                    <ol class="breadcrumb pt-0">
                                        <li class="breadcrumb-item">
                                            <a href="#">Agent(s)</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#">Acknowledged Request(s)</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">List</li>
                                    </ol>
                                </nav>
                            </div>


                            <div class="separator mb-5"></div>
                        </div>
                    </div>

                    @if (Model != null && Model.HoldAllRequests.Count() > 0)
                    {
                        <div class="row">
                            <div class="col-12 list" data-check-all="checkAll">
                                <div class="d-flex flex-row mb-3">
                                    <div class="d-flex flex-grow-1 min-width-zero">
                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                            @*<h3 class="mb-0 text-muted text-small w-15 w-xs-100">REQUEST ID </h3>*@
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> AGGREGATOR </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> OUTLET </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> AGENT </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> OUTLET </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> REQUEST DATE </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> ACKNOWLEDGED DATE </h3>
                                            <h3 class="mb-0 text-muted text-small w-15 w-xs-100"> <span> ACTION </span> </h3>
                                        </div>
                                    </div>
                                </div>

                                @foreach (var item in Model.HoldAllRequests)
                                {
                                    <div class="card d-flex flex-row mb-3">
                                        <div class="d-flex flex-grow-1 min-width-zero">
                                            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                @*<h5 class="mb-0 text-muted text-small w-15 w-xs-100">@Html.DisplayFor(modelItem => item.RequestID)</h5>*@
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">
                                                    @Html.DisplayFor(modelItem => item.AggregatorName)
                                                </h5>
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">
                                                    @Html.DisplayFor(modelItem => item.AggregatorCompany)
                                                </h5>
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </h5>
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">
                                                    @Html.DisplayFor(modelItem => item.AgentCompany)
                                                </h5>
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">@Html.DisplayFor(modelItem => item.DateCreated)</h5>
                                                <h5 class="mb-0 text-muted text-small w-15 w-xs-100">@Html.DisplayFor(modelItem => item.DateApproved)</h5>
                                                <a href="@Url.Action("ApproveAgentRequest","EgsAggregator"  ,new {  id=item.RequestID  })" class="btn btn-primary btn-sm"> Approve/Decline</a>

                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>


                        </div>
                    }
                    else
                    {
                        <div class="mb-5">
                            <div class="card d-flex flex-row mb-12">
                                <div class="d-flex flex-grow-1 min-width-zero">
                                    <div style="padding: 0.20rem !important;" class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                        <h2 class="card-body text-center"> No Request available for display</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

