@model PaymentGateway21052021.Areas.SysSetup.Models.HoldSystemUserViewModel

@{
    ViewData["Title"] = "System Users";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="card-body">

    <div class="card">

        <div class="card-body">
            <h2 class="mb-2">Merchants</h2>
            <br />
            <div class="col-10 mb-6">
                <form asp-action="SystemUsers" asp-controller="SysMerchant" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter UserName" class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="SystemMerchant" class="btn btn-warning float-left">Create New Merchant</a>
                    </div>
                </form>
            </div>

            @if (Model != null && Model.HoldAllSystemUsers.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                Full Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Status
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllSystemUsers)
                        {
                            //indx++;
                        <tr>
         
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                                @Html.DisplayFor(modelItem => item.MiddleName)
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            <td>
                                <a asp-action="UpdateMerchant"  asp-controller="SysMerchant" asp-route-id="@item.UserID" class="btn btn-success float-left ml-3">
                                    <span class="fe fe-edit">Edit</span>
                                </a> 

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchant/SystemUsers" class="page-link">First</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchant/SystemUsers?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                            </li>
                        }

                        @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
                        {
                            var myPage = pageIndex;
                            <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                                <a href="~/SysSetup/SysMerchant/SystemUsers?pageIndex=@myPage" class="page-link"> @myPage </a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchant/SystemUsers?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchant/SystemUsers?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <h2>No Available Merchants(s)</h2>
            }

        </div>
    </div>
</div>
