@model PaymentGateway21052021.Areas.SysSetup.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div id="login-signup-page" class="bg-light shadow-md rounded mx-auto p-4 mt-5 mb-5">
        @*<ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> <a id="signup-page-tab" class="nav-link text-4" data-toggle="tab" href="#signupPage" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a> </li>
            </ul>*@

        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card mb-10">
                    <div class="card-body">

                        <h5 class="mb-4">Change Password</h5>
                        @if (ViewBag.Message != null)
                        {
                            <span class="alert-success">@ViewBag.Message</span>
                        }

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span class="alert-danger">@ViewBag.ErrorMessage</span>
                        }
                        <form asp-action="Register" asp-controller="Register" method="post">
                            <div class="form-group">
                                @Html.AntiForgeryToken()
                                <input asp-for="OldPassword" placeholder="Enter Old Password" type="password" class="form-control" autocomplete="off" required />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="NewPassword" placeholder="Enter New Password" type="password" class="form-control" autocomplete="off"/>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" autocomplete="off"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <input type="submit" value="Change Password" class="btn btn-info" />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        @*<div class="tab-content pt-4">

                @if (ViewBag.Message != null)
                {
                    <span class="alert-success">@ViewBag.Message</span>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="alert-danger">@ViewBag.ErrorMessage</span>
                }


                <form asp-action="Register" asp-controller="Register" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="OldPassword" placeholder="Enter Old Password" type="password" class="form-control" required />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                    <br />
                    <input asp-for="NewPassword" placeholder="Enter New Password" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <br />
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <br />

                    <input type="submit" value="Change Password" class="btn btn-info" />
                </form>

            </div>*@
    </div>
</div>