
@model PaymentGateway21052021.Areas.EgsOperations.Models.HoldDisplayWalletViewModel

@{
    ViewData["Title"] = "Wallets";
}

<div class="col-12">
    <h1> Wallets </h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
        </ol>
    </nav>
    <div class="separator mb-5"></div>
</div>

<div class="card-body col-12">
    <div class="card">
        <div class="card-body">

            @*<div class="col-10 mb-6">

                <form asp-action="Wallets" asp-controller="SysBank" asp-area="EgsOperations" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter Wallet Account Number" class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="Wallet" class="btn btn-warning float-left ml-3">Create New Wallet</a>
                    </div>

                </form>

            </div>*@


            @if (Model != null && Model.HoldAllWallet.Count() > 0)
            {

                <table class="table table-hover">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                User Info
                            </th>
                            <th>
                                Wallet Account Number
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Date Created
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllWallet)
                        {
                            //indx++;
                        <tr>
                            @*<td>@indx</td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WalletAccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                <a asp-action="UpdateWallet" asp-route-id="@item.WalletID" class="btn btn-success float-left ml-3">
                                    <span class="fe fe-edit">Edit</span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a href="~/EgsOperations/EgsWallet/Wallets" class="page-link">First</a>
                            </li>
                            <li class="page-item">
                                <a href="~/EgsOperations/EgsWallet/Wallets?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                            </li>
                        }

                        @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
                        {
                            var myPage = pageIndex;
                            <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                                <a href="~/EgsOperations/EgsWallet/Wallets?pageIndex=@myPage" class="page-link"> @myPage </a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a href="~/EgsOperations/EgsWallet/Wallets?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="~/EgsOperations/EgsWallet/Wallets?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <h2>No Available Wallet(s)</h2>
            }
        </div>
    </div>
</div>