@model PaymentGateway21052021.Models.OrdersModel
@{
    ViewData["Title"] = "Pay Product With Wallet";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-5">

        <div class="col-10 mb-6">

            @*<form asp-action="ProductWallet" asp-controller="HomeStore" method="get">
                </form>*@
            <div class="float-left">
                @if (ViewBag.Message != null)
                {
                    <span class="alert-success">@ViewBag.Message</span>
                }
            </div>
        </div>

        <div class="col-lg-12 text-center mt-5">
            <h2 class="text-8">Order Details</h2>
            <p class="lead">Product Recharge Details</p>
        </div>

        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
            <div class="bg-white shadow-sm rounded p-3 p-sm-4 mb-0 mb-sm-4">
                <div>
                    <form asp-action="ProductWallet" asp-controller="HomeStore" method="post">
                        @if (@Model.ProductModeID.ToString() == "1")
                        {
                            @Html.AntiForgeryToken()
                            <br />
                            <label>Email Address</label>
                            <input asp-for="Email" type="email" value="@Model.Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Email" value="@Model.Email" hidden="hidden" class="form-control" />
                            <br />
                            <label>Phone Number</label>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" maxlength="11" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" hidden="hidden" class="form-control" />
                            <br />

                            <label>Product Item</label>
                            <input asp-for="ProductItemName" value="@Model.ProductItemName" class="form-control" />
                            <span asp-validation-for="ProductItemName" class="text-danger"></span>
                            <br />

                            <label>Amount</label>
                            <input asp-for="AmountRate" value="@Model.AmountRate" class="form-control" id="Rate" />
                            <input asp-for="AmountRate" value="@Model.AmountRate" hidden="hidden" class="form-control" />
                            <input asp-for="ProductModeID" type="hidden" class="form-control" value="@Model.ProductModeID" />
                            <input asp-for="ProductID" type="hidden" class="form-control" id="ProductID" value="@Model.ProductID" />
                            <input asp-for="ProductItemID" type="hidden" class="form-control" id="ProductItemID" value="@Model.ProductItemID" />
                            <input asp-for="ProductName" type="hidden" class="form-control" id="ProductName" value="@Model.ProductName" />
                            <input asp-for="ProductItemName" type="hidden" class="form-control" id="ProductItemName" value="@Model.ProductItemName" />
                            <br />
                            <div class="d-flex">
                                <button class="btn btn-warning d-inline-block ml-auto" value="Pay with Wallet" type="submit"> Proceed </button>
                            </div>
                        }

                        else if (@Model.ProductModeID.ToString() == "2")
                        {
                            <br />
                            <input asp-for="ReferenceNo" placeholder="Enter Reference Number" class="form-control" id="refNo" value="@Model.ReferenceNo" />
                            <input asp-for="ProductModeID" type="hidden" class="form-control" id="hfProductModeID" value="@Model.ProductModeID" />

                            <br />
                            <div class="d-flex">
                                <button class="btn btn-warning d-inline-block ml-auto" value="Pay with Wallet" type="submit"> Proceed </button>
                            </div>
                        }
                        else if (@Model.ProductModeID.ToString() == "3")
                        {
                            <label>Email Address</label>
                            <input asp-for="Email" type="email" value="@Model.Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Email" value="@Model.Email" hidden="hidden" class="form-control" />
                            <br />
                            <label>Phone Number</label>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" maxlength="11" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" hidden="hidden" class="form-control" />
                            <br />
                            <input asp-for="ReferenceNo" value="@Model.ReferenceNo" placeholder="Enter Reference Number" class="form-control" id="refNo" />
                            <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                            <input asp-for="ProductModeID" type="hidden" class="form-control" id="hfProductModeID" />
                            <input asp-for="ProductID" type="hidden" class="form-control" value="@Model.ProductID" />
                            <br />

                            <div class="d-flex">
                                <button class="btn btn-warning d-inline-block ml-auto" value="Pay with Wallet" type="submit"> Proceed </button>
                            </div>

                        }
                        else if (@Model.ProductModeID.ToString() == "4")
                        {
                            <label>meter</label>
                            <input asp-for="MeterNo" type="text" placeholder="Enter Meter Number" class="form-control" />
                            <span asp-validation-for="MeterNo" class="text-danger"></span>
                            <br />
                            <label>vendType</label>
                            <select asp-for="vendType" asp-items="@StaticDrpDwnListItems.VendTypeList()" class="form-control">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="vendType" class="text-danger"></span>
                            <br />
                            <label>disco</label>
                            <select asp-for="discoCode" asp-items="@StaticDrpDwnListItems.DiscoCodeList()" class="form-control">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="discoCode" class="text-danger"></span>
                            <input asp-for="ProductModeID" type="hidden" class="form-control" id="hfProductModeID" value="@Model.ProductModeID.ToString()" />
                            <input asp-for="ProductID" type="hidden" class="form-control" value="@Model.ProductID" />
                            @*< input asp -for= "ProductID" type = "hidden" class="form-control" id="ProductID" value="@Model.ProductID" />
            <input asp-for="ProductItemID" type="hidden" class="form-control" id="ProductItemID" value="@Model.ProductItemID" />*@

                            <br />

                            <div class="d-flex">
                                <button class="btn btn-warning d-inline-block ml-auto" value="Pay with Wallet" type="submit"> Proceed </button>
                            </div>

                        }
                    </form>
                </div>
            </div>
        </div>

    </div>


    @*@section Script{
        }*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        document.onreadystatechange = () => {
            if (document.readyState === 'complete') {
                //alert("complete");
                @*$('#drpProductItem').change(function () {
                var url = '@Url.Content("~/")' + "Home/GetLga";
                var ddlsource = '#drpProductItem';
                if ($(ddlsource).val() > 0) {
                    $.getJSON(url, { stateId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    //console.warn("data :",JSON.stringify(data));
                    $("#drpLga").empty();
                    $.each(data, function (i, available) {
                        items += "<option value='" + available.id + "'>" + available.name + "</option>";
                    });
                    $('#drpLga').html(items);
                    $("#drpLga option[value='" + $("#hidLga").val() + "']").attr("selected", "selected");
                    //$("#drpLga select").val($("#hidLga").val()).trigger('change/*');
                });
                }

            });

            var _state = $('#drpProductItem').val();
            $('#drpProductItem')
            .val(_state).trigger('change');*@

        }
        };

        function DoPostBack() {
            //alert("changed");
            var select = document.getElementById("prodItemID");
            var option = select.options[select.selectedIndex];
            var selectedValue = $('#prodItemID').val();
            if (selectedValue != "0") {

                $('#hfAmountRate').val('0.00');
                $('#AmountRateReadOnly').val('0.00');

	            $.post('@Url.Action("GetRates", "HomeStore")', { selection : selectedValue }, function (data) {
                    // handle the server response here
                    var content = JSON.parse(data);
                    console.log(content.value)
                    $('#hfAmountRate').val(content.value.amountRate);
                    $('#AmountRateReadOnly').val(content.value.amountRate);
                    $("#AmountRateReadOnly").attr("disabled", "disabled");
                    $('#ProductID').val(content.value.productID);
                    $('#ProductName').val(content.value.productName);
                    $('#ProductItemID').val(content.value.productItemID);
                    $('#ProductItemName').val(content.value.productItemName);

	            });

            }

        }

        $('#drpProductItem').change(function () {
            alert("changed");
        // respond to the change event in here
            var selectedValue = $('#drpProductItem').val();
            alert("selectedValue = " + selectedValue);

        });

    </script>

</div>

