@model PaymentGateway21052021.Areas.SysSetup.Models.UpgradeAccountViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Customer Detail";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-body">
        <div class="col-10 mb-5">

            <div class="float-left">
                @if (ViewBag.Message != null)
                {
                    <span class="alert-success">@ViewBag.Message</span>
                }
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="alert-success">@ViewBag.ErrorMessage</span>
                }
            </div>
        </div>

        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Process Request </h1>

                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Process</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Request</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>


            <div class="card-body">

                <form asp-action="ProcessAggregator" asp-controller="UpgradeRequest" method="post">
                    <div class="row">
                        <input asp-for="UserID" class="form-control" hidden="hidden" />
                        @if (Model.CompanyName == "" || Model.CompanyName == null)
                        {
                            <div class="col-md-4">
                                <label>Full Name</label>
                                <input asp-for="FullNames" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-md-4">
                                <label> BVN</label>
                                <input asp-for="BVN" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-md-4">
                                <label> Email</label>
                                <input asp-for="Email" class="form-control" readonly="readonly" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <label>CompanyName</label>
                                <input asp-for="CompanyName" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-md-4">
                                <label> BVN</label>
                                <input asp-for="BVN" class="form-control" readonly="readonly" />
                            </div>
                            <div class="col-md-4">
                                <label> Email</label>
                                <input asp-for="Email" class="form-control" readonly="readonly" />
                            </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Mobile</label>
                            <input asp-for="PhoneNumber" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label>Address</label>
                            <input asp-for="Address" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label> Gender</label>
                            <input asp-for="Gender" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>State</label>
                            <input asp-for="StateName" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label> Business Name</label>
                            <input asp-for="BusinessName" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label>Business Address</label>
                            <input asp-for="BusinessAddress" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>KYC</label>
                            <input asp-for="KYC" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label>Request Date</label>
                            <input asp-for="DateCreated" class="form-control" readonly="readonly" />
                        </div>

                        <div class="col-md-4" id="comentdiv">
                            <label>Comment</label>
                            <input asp-for="Comment" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Current Role</label>
                            <input asp-for="Role" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label>Requesting Role</label>
                            <input asp-for="RoleRequestName" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label>Approve/Decline</label>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();

                                listItems.Add(new SelectListItem
                                {
                                    Text = "Approved",
                                    //Value = "1",
                                    Value = "true",
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Declined",
                                    //Value = "0"
                                    Value = "false",
                                });
                            }
                            <select id="ProcessedID" asp-for="IsProcessed" asp-items="@(new SelectList(listItems, "Value", "Text"))"
                                    class="form-control" onchange="getComment()"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.documents.Count < 1)
                            {
                                <div class="card d-flex flex-row mb-12">
                                    <div class="d-flex flex-grow-1 min-width-zero">
                                        <div style="padding: 0.20rem !important;" class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                            <h2 class="card-body text-center"> No document(s) available for display</h2>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @foreach (var item in Model.documents)
                                {
                                    <div class="col-md-4">
                                        <label>@item.DocumentName </label>
                                        @Html.ActionLink("Download", "DownloadFile", new { fileName = item.DocumentPath }, new { @class = "btn btn-sm btn-primary" })
                                    </div>

                                }

                            }
                        </div>
                    </div>
                    <br />

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Process >> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#comentdiv").hide();
    })

    function getComment() {
        var select = document.getElementById("ProcessedID");
        var option = select.options[select.selectedIndex];
        var selectedValue = $('#ProcessedID').val();

        if (selectedValue == "true") {
            $("#comentdiv").hide();
        }
        else if (selectedValue == "false") {
            //alert('show coment div')
            $("#comentdiv").show();
        }
    }

</script>