
@model PaymentGateway21052021.Areas.EgsOperations.Models.HoldDisplayAccountInfoViewModel

@{
    ViewData["Title"] = "AccountInfoList";
}

<div class="col-12">
    <h1>  AccountInfo(s) </h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
        </ol>
    </nav>
    <div class="separator mb-5"></div>
</div>

<div class="card-body col-6">
    <div class="card">
        <div class="card-body">

            <div class="col-10 mb-6">

                <form asp-action="AccountInfoList" asp-controller="EgsAccountInfo" asp-area="EgsOperations" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter Account Number" class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="AccountInfo" class="btn btn-warning float-left ml-3">Create New Bank Account Info.</a>
                    </div>

                </form>

            </div>


            @if (Model != null && Model.HoldAllAccountInfo.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                Bank
                            </th>
                            <th>
                                Account Number
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllAccountInfo)
                        {
                            //indx++;
                        <tr>
                            @*<td>@indx</td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.BankName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                <a asp-action="UpdateAccountInfo" asp-route-id="@item.AccountInfoID" class="btn btn-success float-left ml-3">
                                    <span class="fe fe-edit">Edit</span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a href="~/EgsOperations/EgsAccountInfo/AccountInfoList" class="page-link">First</a>
                </li>
                <li class="page-item">
                    <a href="~/EgsOperations/EgsAccountInfo/AccountInfoList?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                </li>
            }

            @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
            {
                var myPage = pageIndex;
                <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                    <a href="~/EgsOperations/EgsAccountInfo/AccountInfoList?pageIndex=@myPage" class="page-link"> @myPage </a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a href="~/EgsOperations/EgsAccountInfo/AccountInfoList?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                </li>
                <li class="page-item">
                    <a href="~/EgsOperations/EgsAccountInfo/AccountInfoList?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                </li>
            }
        </ul>
                }
            }
            else
            {
                <h2>No Available AccountInfo(s)</h2>
            }
        </div>
    </div>
</div>