
@model PaymentGateway21052021.Areas.SysSetup.Models.HoldDocumentDisplayViewModel
@{
    ViewData["Title"] = "Document Setup List";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}



<div class="card-body col-6">

    <h2 class="mb-2">
        Documents
    </h2>

    <div class="card">
        <div class="card-body">

            <div class="col-10 mb-6">

                <form asp-action="Documents" asp-controller="SysDocument" asp-area="SysSetUp" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter Document Name or Role to search document(s) setup" class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="Document" class="btn btn-warning float-left ml-3">Create New Document</a>
                    </div>

                </form>

            </div>


            @if (Model != null && Model.HoldAllDocument.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                Role
                            </th>
                            <th>
                                Document Name
                            </th>
                            <th>
                                Document Type
                            </th>
                            <th>
                                Date Created
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllDocument)
                        {
                            //indx++;
                        <tr>
                            @*<td>@indx</td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.documentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.documentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateCreated)
                            </td>
                            <td>
                                <a asp-action="UpdateDocument" asp-route-id="@item.documentID" class="btn btn-success float-left ml-3">
                                    <span class="fe fe-edit">Edit</span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysDocument/Documents" class="page-link">First</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysDocument/Documents?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                            </li>
                        }

                        @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
                        {
                            var myPage = pageIndex;
                            <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                                <a href="~/SysSetup/SysDocument/Documents?pageIndex=@myPage" class="page-link"> @myPage </a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysDocument/Documents?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysDocument/Documents?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <h2>No Available Document(s)</h2>
            }
        </div>
    </div>
</div>
