@model PaymentGateway21052021.Areas.SysSetup.Models.HoldDisplayCompanyViewModel
@{
    ViewData["Title"] = "Company List";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="card-body col-12">

    <h2 class="mb-2">
        Company(s)
    </h2>

    <div class="card">
        <div class="card-body">

            <div class="col-10 mb-6">

                <form asp-action="CompanyList" asp-controller="SysCompany" asp-area="SysSetup" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter Company Name" class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="Company" class="btn btn-warning float-left ml-3">Create New Company</a>
                    </div>

                </form>

            </div>


            @if (Model != null && Model.HoldAllCompanies.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                Company Name
                            </th>
                            <th>
                                Company Address
                            </th>
                            @*<th>
                                    GLAccount
                                </th>*@
                            <th>
                                Date Created
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllCompanies)
                        {
                            //indx++;
                            <tr>
                                @*<td>@indx</td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyAddress)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.GLAccountName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    <a asp-action="UpdateCompany" asp-route-id="@item.CompanyID" class="btn btn-success float-left ml-3">
                                        <span class="fe fe-edit">Edit</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysCompany/CompanyList" class="page-link">First</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysCompany/CompanyList?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                            </li>
                        }

                        @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
                        {
                            var myPage = pageIndex;
                            <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                                <a href="~/SysSetup/SysCompany/CompanyList?pageIndex=@myPage" class="page-link"> @myPage </a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysCompany/CompanyList?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysCompany/CompanyList?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <h2>No Available Company(s)</h2>
            }
        </div>
    </div>
</div>