@*@model IEnumerable<PaymentGateway21052021.Models.EgsInvoice>*@
@model PaymentGateway21052021.Areas.Reports.Models.HoldWalletHViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = $"Wallet Transfer / Deposit Summary report for the period {ViewBag.OfferingMonthStart} - {ViewBag.OfferingDayStart} , {ViewBag.OfferingYearStart} - {ViewBag.OfferingMonthEnd} {ViewBag.OfferingDayEnd} {ViewBag.OfferingYearEnd}";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<link href="~/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />

<style>
    /*===============================Datatables Overrides=====================================================*/
    table.dataTable {
        width: 100% !important;
    }

    .sorting.no-sort-sign, .sorting_asc.no-sort-sign, .sorting_desc.no-sort-sign {
        /*display:none;*/
        background-image: none !important;
        cursor: initial !important;
    }
    /*=====================================================================================================*/
</style>



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <h1>Reports</h1>

                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Reports</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Wallet Transfer / Deposit Summary</li>
                    </ol>
                </nav>
            </div>

            <div class="separator mb-5"></div>
        </div>
    </div>


    <div class="card">

        <div class="card-body">
            <div class="col-12 mb-5">
                <div class="float-left mr-3">
                    <h4 class="mb-2">
                        Wallet Transfer Summary report for the period  @ViewBag.OfferingMonthStart @ViewBag.OfferingDayStart , @ViewBag.OfferingYearStart  -  @ViewBag.OfferingMonthEnd @ViewBag.OfferingDayEnd @ViewBag.OfferingYearEnd
                    </h4>
                </div>
                <div class="float-left">
                    @if (ViewBag.Message != null)
                    {
                        <span class="alert-success">@ViewBag.Message</span>
                    }
                </div>
            </div>
            @if (Model != null && Model.HoldAllWalletHistorys.Count() > 0)
            {
                <div id="formBg" style="width:100%; margin-right:auto; margin-left:auto;padding-top:40px;">
                    <table id="offrptTable" class="table table-responsive table-condensed table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Period</th>
                                @if (ViewBag.TransactionType != "CREDIT")
                                {
                                    <th>WalletHolder</th>
                                    <th>Transaction Method</th>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th>ReceiverAccount</th>
                                    <th>ReceiverName</th>
                                    <th>ReceiverBank</th>
                                }
                                else
                                {
                                    <th>WalletHolder</th>
                                    <th>Transaction Method</th>
                                    <th>Transaction Type</th>
                                    <th>Sender</th>
                                    <th>Amount</th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HoldAllWalletHistorys)
                            {
                            <tr>
                                @if (ViewBag.TransactionType != "CREDIT")
                                {
                                    <td>@item.TransactionDate</td>
                                    <td>@item.WalletHolder</td>
                                    <td>@item.TransactionMethod</td>
                                    <td>@item.TransactionType</td>
                                    @if (@item.Amount > 0 && @item.TransactionType == "CREDIT")
                                    {
                                        <td>
                                            <span class="text-success font-weight-bold">@item.Amount</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*<span>&#8358;</span>*@
                                            <span class="text-danger font-weight-bold">@item.Amount</span>
                                        </td>
                                    }
                                    <td>@item.ReceiverAccount</td>
                                    <td>@item.ReceiverName</td>
                                    <td>@item.ReceiverBank</td>
                                }
                                else
                                {
                                    <td>@item.TransactionDate</td>
                                    <td>@item.WalletHolder</td>
                                    <td>@item.TransactionMethod</td>
                                    <td>@item.TransactionType</td>
                                    <td>@item.Sender</td>
                                    @if (@item.Amount > 0 && @item.TransactionType == "CREDIT")
                                    {
                                        <td>
                                            <span class="text-success font-weight-bold">@item.Amount</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*<span>&#8358;</span>*@
                                            <span class="text-danger font-weight-bold">@item.Amount</span>
                                        </td>
                                    }


                                }

                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="text-center">
                    <p>No data returned for your selection</p>
                    <a asp-action="WalletHistory" asp-controller="WalletHistory" class="btn btn-primary">Back to selection</a>
                </div>
            }
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<script src="~/js/Agentreport.js"></script>


