@model PaymentGateway21052021.Areas.Reports.Models.HoldWeeklyRViewModel
@using System.ComponentModel.DataAnnotations;
@{
    ViewData["Title"] = $"Courtville Tellers Weekly Transaction report for the period ";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<link href="~/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />

<style>
    /*===============================Datatables Overrides=====================================================*/
    table.dataTable {
        width: 100% !important;
    }

    .sorting.no-sort-sign, .sorting_asc.no-sort-sign, .sorting_desc.no-sort-sign {
        /*display:none;*/
        background-image: none !important;
        cursor: initial !important;
    }
    /*=====================================================================================================*/
</style>





<div class="card-body col-12">

    <h2 class="mb-2">
       Weekly Transaction List Report
    </h2>

    <div class="card">
        <div class="card-body">

            <div class="col-10 mb-12">

                @*<form asp-action="TransReportList" asp-controller="Agents" asp-area="Reports" method="get">
                        <div class="float-left mr-3">
                            <input name="searchText" placeholder="Enter Reference Num. Or Payment Reference" class="form-control" />
                        </div>
                        <div class="float-left">
                            <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        </div>
                    </form>*@
                <div class="float-left">
                    @if (ViewBag.Message != null)
                    {
                        <span class="alert-success">@ViewBag.Message</span>
                    }
                </div>

            </div>


            @if (Model != null && Model.HoldAllInvoices.Count() > 0)
            {

                <table id="offrptTable" class="table table-responsive table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>FirstName</th>
                            <th>MiddleName</th>
                            <th>LastName</th>
                            <th>Amount</th>
                            <th>TransCount</th>
                            <th>TransPeriod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ind = 0;
                        }
                        @foreach (var item in Model.HoldAllInvoices)
                        {
                            ind++;
                            <tr>
                                <td>@ind</td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td> 

                                <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                          
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransPeriod)
                                </td>
                             
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th> </th>
                            <th id="amt-summed" style="padding:0">Total:<span>&#8358;</span>@ViewBag.baseamount</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </tfoot>
                </table>

                <!-- pager -->

            }

        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

<script src="~/js/Agentreport.js"></script>

